{% extends "base.html" %}
{% block title %}{{app_title}}{% endblock %}
{% block head %}
  {{ super() }}
  <script>
    function removeLoadingText(){
      const text = document.getElementById("loading");
      text.remove()
    }
  </script>
{% endblock %}
{% block content %}
  <h1>{{ app_title }}</h1>
  <img id="live-stream"  onload="removeLoadingText()" src="{{ url_for('video_feed') }}" style="display: block; margin-left: auto; margin-right: auto; width: 65%; height: auto;">
  <p id="loading">Starting Camera ...</p>
{% endblock %}